.dapp-form
  padding: 4.3em 2em
  .form-group
    margin-bottom: 1.25em

  .add-file
    border-radius: $form_br_rad
    background-color: $col_grey
    padding: 0.45em 0.3em
    max-width: 6.66em
    text-align: center
    & + .form-control[type="file"]
      display: none!important

  input.form-control, textarea.form-control
    border: 1px solid $form_br_col
    border-radius: $form_br_rad
    padding: 0.66em 0.5em
    font-style: italic
  .form-group
    label
      margin-bottom: 10px
  .form-select
    border-radius: $form_br_rad
    font-size: $form_select_fs
    line-height: 1.15
    padding: 1.08em 0.83em
    option
      margin-bottom: 0.625em
      &:last-child
        margin-bottom: 0

.dapp_category
  & + .bootstrap-select
    width: 100% !important
  .btn-light
    border-radius: $form_br_rad
    border: 1px solid $form_br_col
    background-color: #FFFFFF
  .dropdown-toggle::after
    color: $form_br_col

.social-wrap, .contact-wrap
  margin-top: 4.2em

.descr-text
  height: 6.25em
  resize: none

.pb-30px
  padding-bottom: 1.25em !important